<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>First Thymeleaf Page</title>
</head>
<body>

	<div th:include="minimenu :: fragment"></div>

	<p th:text="${ message } + 'from Valbonne'"></p>
	<p th:text="'Bonjour' + |${ personne.prenom } ${ personne.nom } |"></p>
	<div th:if="${ message.length() >= 5 }">
		<p th:text="${ message }"></p>
	</div>
	<p th:text="${ message.length() >= 5 } ? ${ message }"></p>

	<div th:each="perso : ${ personnes }">
		<span th:text="${ perso.nom }"></span> 
		<span th:text="${ perso.prenom }"></span>
	</div>

	<div th:object="${ personne }">
		<span th:text="*{ num }"></span> 
		<span th:text="*{ nom }"></span> 
		<span th:text="*{ prenom }"></span>
	</div>


	<p th:text = "${ message.length() >= 5 } ? ${ message }"> </p>
	
	<div th:if="${ message.length() >= 15 }" th:text="long"></div> 
	<div th:unless="${ message.length() >= 15 }" th:text="court"></div>
	
	<div th:text="${ message.length() <= 15 } ? 'court2' : 'long2'" > </div>
	
	<div th:with="variable=${ message.length() }"> 
		<p> Le message de bienvenue contient <span th:text="${ variable }"> </span> lettres. </p> 
	</div>
	
<!-- 	<div th:text="${ variable} 'existe ou pas'"></div> -->
	
	<div th:with="variable=${ message.length() }, parity=${ variable % 2 == 0 ? 'pair' : 'impair' }"> 
		<p> Le message de bienvenue contient <span th:text="${ variable }"> </span>
			 lettres, soit un nombre <span th:text="${ parity }"> </span> 
			 de lettres . 
		</p> 
	</div>
	
	<a th:href="@{ https://www.google.com/ }">Google</a> 
	
	<div th:include="minimenu :: fragment"></div>

</body>
</html>
